.cart-icon {
    position: relative;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    margin-left: auto;
    text-decoration: none;
    margin-right: 15px;
}

.cart-icon img {
    width: 24px;
    height: 24px;
    vertical-align: middle;
}

.header-actions {
    display: flex;
    align-items: center;
}

